.mur {
    background-color: maroon;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid grey; 
    box-sizing: border-box;
}

.chemin{
    background-color: rgb(168, 157, 6);
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid grey; 
    box-sizing: border-box;

}

.start{
    width: 40px;
    height: 40px;
    background-color: rgb(70, 66, 37);
}
.perso{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-image: url(./pictures/player.jpg);
    background-size: cover;
    margin-top: 5px;
    margin-left: 5px;
}

.tresor{
    width: 40px;
    height: 40px;
    background:  url(./pictures/tresor.jpeg);
    background-size: cover;
    
}

.labyrinthe{
    display:flex;
    justify-content: center;
}



.timer{
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
    font-size: 1.5em;
    text-align: center;
    margin-left: 370px;
    margin-right: 370px;
    color:white;
}

.imageLooser{
    position: absolute;
    background-size: contain;
    width: 600px;
    height: 600px;
    left: 370px;
    top: 0px;
    background-image: url(./pictures/Champi.jpg);
}

.winner{
    position: absolute;
    background-size: contain;
    width: 600px;
    height: 600px;
    left: 370px;
    top: 0px;
    background-image: url(./pictures/win.gif);
}
